doctype html
head
  style.
    body {
    background-image: url("/bg.jpg");
    }
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title EPLFF
// loader Start
#loading
  #loading-center
// loader END
// Wrapper Start
.body.sidebar-main
.wrapper
  .iq-sidebar.sidebar-default
    .iq-sidebar-logo.d-flex.align-items-center.justify-content-between
      a.header-logo(href='/backend/index.html')
        img.img-fluid.rounded-normal.light-logo(src='/assets/images/logo.png' alt='logo')
        h5.logo-title.light-logo.ml-3 EPLFF
      .iq-menu-bt-sidebar.ml-0
        i.las.la-bars.wrapper-menu
    .data-scrollbar(data-scroll='1')
      nav.iq-sidebar-menu
        ul#iq-sidebar-toggle.iq-menu
          li.mt-2
            a.svg-icon(href='/')
              svg#p-dash1.svg-icon(width='20' height='20' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                path(d='M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z')
                polyline(points='3.27 6.96 12 12.01 20.73 6.96')
                line(x1='12' y1='22.08' x2='12' y2='12')
              br
              span.ml-4 Dashboard
          li.mt-2
            a.svg-icon(href='/api/v1/clubs/listclub')
              svg#p-dash5.svg-icon(width='20' height='20' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                rect(x='1' y='4' width='22' height='16' rx='2' ry='2')
                line(x1='1' y1='10' x2='23' y2='10')
              br
              span.ml-4 Clubs
          li.mt-2
            a.collapsed(href='/')
              svg#p-dash8.svg-icon(width='20' height='20' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                path(d='M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2')
                circle(cx='9' cy='7' r='4')
                path(d='M23 21v-2a4 4 0 0 0-3-3.87')
                path(d='M16 3.13a4 4 0 0 1 0 7.75')
              span.ml-4 Players


          li.mt2
            a.collapsed(href='/api/v1/users/listuser')
              svg#p-dash3.svg-icon(width='20' height='20' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
                rect(x='9' y='9' width='13' height='13' rx='2' ry='2')
                path(d='M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1')
              span.ml-4 Users
    .p-3
.iq-top-navbar
  .iq-navbar-custom
    nav.navbar.navbar-expand-lg.navbar-light.p-0
      .iq-navbar-logo.d-flex.align-items-center.justify-content-between
        i.ri-menu-line.wrapper-menu
        a.header-logo(href='/backend/index.html')
          img.img-fluid.rounded-normal(src='/assets/images/logo.png' alt='logo')
          h5.logo-title.ml-3 EPLFF
      .iq-search-bar.device-search
      .d-flex.align-items-center
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-label='Toggle navigation')
          i.ri-menu-3-line
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ml-auto.navbar-list.align-items-center
            li.nav-item.nav-icon.dropdown
              .iq-sub-dropdown.dropdown-menu(aria-labelledby='dropdownMenuButton2')
                .card.shadow-none.m-0
            li
            li.nav-item.nav-icon.search-content
              a#dropdownSearch.search-toggle.rounded(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                i.ri-search-line
              .iq-search-bar.iq-sub-dropdown.dropdown-menu(aria-labelledby='dropdownSearch')
            li.nav-item.nav-icon.dropdown
            li.nav-item.nav-icon.dropdown
            li.nav-item.nav-icon.dropdown.caption-content
              a#dropdownMenuButton4.search-toggle.dropdown-toggle(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                img.img-fluid.rounded(src='/assets/images/user/1.png' alt='user')
              .iq-sub-dropdown.dropdown-menu(aria-labelledby='dropdownMenuButton')
                .card.shadow-none.m-0
                  .card-body.p-0.text-center
                    .media-body.profile-detail.text-center
                      img.rounded-top.img-fluid.mb-4(src='/assets/images/page-img/profile-bg.jpg' alt='profile-bg')
                      img.rounded.profile-img.img-fluid.avatar-70(src='/assets/images/user/1.png' alt='profile-img')
                    .p-3
                      if user
                        h5.mb-1 #{user.email}
                      p.mb-0 Since 10 march, 2020
                      .d-flex.align-items-center.justify-content-center.mt-3
                        a.btn.border.mr-2(href=' ') Profile
                        a.btn.border.nav__el--logout(href='/login') Sign Out
#new-order.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-body
        .popup.text-left
          h4.mb-3 New Order
          .content.create-workform.bg-body
            .pb-3
              label.mb-2 Email
              input.form-control(type='text' placeholder='Enter Name or Email')
            .col-lg-12.mt-4
              .d-flex.flex-wrap.align-items-ceter.justify-content-center
                .btn.btn-primary.mr-4(data-dismiss='modal') Cancel
                .btn.btn-outline-primary(data-dismiss='modal') Create

  // Page end
// Wrapper End
// Backend Bundle JavaScript
script(src='/js/loader.js')

