extends base

block content

  main.main

  .content-page
    .container-fluid.add-form-list
    .row
      .col-sm-12
        .card
          .card-header.d-flex.justify-content-between
            .header-title
              h4.card-title Edit Club
          .card-body
            form
            
              .row

                .col-md-6
                  .form-group
                    label Club Name *
                    input.form-control(type='text' value=`${club.name}`, data-errors='Please Enter Name.' required='')
                    .help-block.with-errors
                .col-md-6
                  .form-group
                    label Short Name *
                    input.form-control(type='text' value=`${club.shortName}`  data-errors='Please Enter Code.' required='')
                    .help-block.with-errors
          
                .col-md-12
                  .form-group
                    label Jersey
                    input.form-control.image-file(type='file' value=`${club.jersey}` name='image' accept='image/*')
                .col-md-12
                  .form-group
                    label Logo
                    input.form-control.image-file(type='file' value=`${club.logo}` name='image' accept='image/*')    

              button.btn.btn-primary.mr-2(type='submit') Update
             


           
      // Wrapper End
      // Backend Bundle JavaScript
      script(src='/assets/js/backend-bundle.min.js')
      // Table Treeview JavaScript
      script(src='/assets/js/table-treeview.js')
      // Chart Custom JavaScript
      script(src='/assets/js/customizer.js')
      // Chart Custom JavaScript
      script(async='' src='/assets/js/chart-custom.js')
      // app JavaScript
      script(src='/assets/js/app.js')