extends base

block content

  main.main

      .content-page
       h4 Browse Players
        br
        br 
        br
        .rows
      
                .card2
                    .container2
                      img.image(src='/59794.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f84')
                          span St. George
                
                .card2
                    .container2
                      img.image(src='/96940.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f85')
                          span Fasil Kenema
                            
                .card2
                    .container2
                      img.image(src='/59797.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f86')
                          span Welayta Dicha
                .card2
                    .container2
                      img.image(src='/59805.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f87')
                          span Hawassa Ketema


                
                .card2
                    .container2
                      img.image(src='/59793.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f88')
                          span Sidama Buna
                            
                .card2
                    .container2
                      img.image(src='/59796.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f89')
                          span Ethiopia Buna
                .card2
                    .container2
                      img.image(src='/122446.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f8a')
                          span Hadiya Hosaena

                .card2
                    .container2
                      img.image(src='/122445.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f8e')
                          span Wolkite Ketema
                
                .card2
                    .container2
                      img.image(src='/59795.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f90')
                          span Mekelakeya 
                            
                .card2
                    .container2
                      img.image(src='/116151.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f8c')
                          span Bahrdar
                .card2
                    .container2
                      img.image(src='/59801.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f91')
                          span Adama Ketema
          
                
                .card2
                    .container2
                      img.image(src='/59798.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f8b')
                          span Arba Minch Kenema
                          
                            
                .card2
                    .container2
                      img.image(src='/65112.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f8f')
                          span Dire Dawa Kenema


                .card2
                    .container2
                      img.image(src='/96939.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f8d')
                          span Addis Ababa Ketema


                
                .card2
                    .container2
                      img.image(src='/143633.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f93')
                          span Jimma Aba Jifar 

                .card2
                    .container2
                      img.image(src='/65116.jpg' alt='Avatar')
                      .overlay
                        a(href='/api/v1/players/listplayer/628a4bf324da9108ec920f92')
                          span Sebeta City
            


           
      // Wrapper End
      // Backend Bundle JavaScript
      script(src='/assets/js/backend-bundle.min.js')
      // Table Treeview JavaScript
      script(src='/assets/js/table-treeview.js')
      // Chart Custom JavaScript
      script(src='/assets/js/customizer.js')
      // Chart Custom JavaScript
      script(async='' src='/assets/js/chart-custom.js')
      // app JavaScript
      script(src='/assets/js/app.js')